
/* 
Background
 */
$background-first: #f8f8f8;
$background-section-two: #051745;
$background-section-two-element:#071b50;


/* 
Color 
*/
/* $contrast-color: #ffa837; */
$contrast-color: #41c457;
$contrast-color-secondary: #0369d7;
$text-general: #5D5C5D;

